---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import { FaAddressCard, FaEnvelope, FaPhoneAlt } from "react-icons/fa/index.js";
import Submit from "../layouts/components/submit.astro"; 
const entry = await getEntryBySlug("pages", "submit");
const { contact_form_action } = config.params;
const { address, email, phone } = config.contactinfo;
const { title, description, meta_title, image } = entry.data;
---


<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>

<div class="container">
  <div id="fmtu-content-pane" class="container w-screen p-3 mt-12 text-zinc-800 dark:text-zinc-100 sm:mt-0 sm:p-5 sm:block">
    <div class="w-full pb-2 mb-4 border-b border-zinc-300 dark:border-zinc-700">
<h1 class="text-3xl font-light">Our featured creators:</h1>
<p class="my-2 text-zinc-500 dark:text-zinc-400">Check out our list of our featured creators. These are creators we trust and reccomend.</p>
</div>

<div class="grid grid-cols-1 gap-4 mb-8 md:grid-cols-2 md:gap-8 md:w-11/12 md:mx-auto">
<div class="p-4 bg-white border-l-4 border-green-600 rounded shadow dark:bg-zinc-800">
<div class="flex mb-4 space-x-4">
    <svg class="flex-none w-12 h-12 text-green-800 dark:text-green-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
<path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
<path d="M12 12m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0" />
<path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
</svg>                <div class="flex flex-col space-y-2">
        <h3 class="text-xl font-light text-green-800 dark:text-green-600 lg:text-2xl">Accurate</h3>
        <p class="text-sm leading-normal">All transfers submitted need to be 100% accurate. We&apos;d prefer it even more if the transfer has been announced by the clubs!</p>
    </div>
</div>
</div>

<div class="p-4 bg-white border-l-4 border-green-600 rounded shadow dark:bg-zinc-800">
<div class="flex mb-4 space-x-4">
    <svg class="flex-none w-12 h-12 text-green-800 dark:text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"/>
</svg>                <div class="flex flex-col space-y-2">
        <h3 class="text-xl font-light text-green-800 dark:text-green-600 lg:text-2xl">Reliable</h3>
        <p class="text-sm leading-normal">It&apos;s very important that your sources come from reliable websites which tend NOT to post just rumours, but actual facts.</p>
    </div>
</div>
</div>

<div class="p-4 bg-white border-l-4 border-green-600 rounded shadow dark:bg-zinc-800">
<div class="flex mb-4 space-x-4">
    <svg class="flex-none w-12 h-12 text-green-800 dark:text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
</svg>                <div class="flex flex-col space-y-2">
        <h3 class="text-xl font-light text-green-800 dark:text-green-600 lg:text-2xl">Prompt</h3>
        <p class="text-sm leading-normal">If for any reason a transfer is cancelled, you need to act as quick as possible and again update the player with the correct details.</p>
    </div>
</div>
</div>

<div class="p-4 bg-white border-l-4 border-green-600 rounded shadow dark:bg-zinc-800">
<div class="flex mb-4 space-x-4">
    <svg class="flex-none w-12 h-12 text-green-800 dark:text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
<path stroke-linecap="round" stroke-linejoin="round" d="M3 3v1.5M3 21v-6m0 0l2.77-.693a9 9 0 016.208.682l.108.054a9 9 0 006.086.71l3.114-.732a48.524 48.524 0 01-.005-10.499l-3.11.732a9 9 0 01-6.085-.711l-.108-.054a9 9 0 00-6.208-.682L3 4.5M3 15V4.5"/>
</svg>                <div class="flex flex-col space-y-2">
        <h3 class="text-xl font-light text-green-800 dark:text-green-600 lg:text-2xl">Mistakes Happen</h3>
        <p class="text-sm leading-normal">Mistakes can happen. Continuous mistaken transfers though will result in penalties! More than 3 mistakes per day will cause you to be suspended for a day. If that continues, the penalty will be bigger.</p>
    </div>
</div>
</div>
</div>

<h3 class="mb-4 text-2xl font-light">Updates coming from admins</h3>
<div class="leading-normal">
<p class="mb-4">To become an admin you first have to prove that you can be <b>trusted</b>. Updating the database frequently with correct and reliable information, will lead you to eventually become one. You will be approached by <b>pr0</b> if it is felt you would make a good transfer admin.</p>
<p><b>Communication</b> is key between all admins to ensure success and accuracy of the transfer update; as such, all admins need to be able to speak <b>fluent English</b>.</p>
</div>

</div>
</div>


<div class="fixed inset-0 hidden overflow-y-auto z-100" data-modal-container>
<div class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
<div class="fixed inset-0 bg-black bg-opacity-50" data-modal-close></div>
<span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
<div class="relative inline-block overflow-hidden text-left align-bottom bg-white rounded-lg shadow-xl sm:my-8 sm:align-middle sm:max-w-lg sm:w-full md:max-w-xl lg:max-w-2xl xl:max-w-3xl dark:bg-zinc-900" data-modal-contents></div>
</div>
</div>
</div>
</div>
</div>