---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import { FaAddressCard, FaEnvelope, FaPhoneAlt } from "react-icons/fa/index.js";
import Submit from "../layouts/components/submit.astro"; 
const entry = await getEntryBySlug("pages", "submit");
const { contact_form_action } = config.params;
const { address, email, phone } = config.contactinfo;
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
    <h1 class="page-heading"> Submit Your News</h1>
    <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">We are pleased to announce we are now accepting news articles from the community. Use the form below to attach your pieces. </p>
      <Submit />
        </div>
      </div>
    </div>
  </section>
</Base>
